<ion-header>
  <ion-toolbar>
    <ion-title id="title">
       <h1>Review Page</h1>   
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ul><li *ngFor = "let info of loginData">Name: {{info.name}}, Surname: {{info.surname}}, IBAN: {{info.iban}}</li></ul>
</ion-content>
