//ID
#title{
    text-align: center;
    background-color: rgb(185, 3, 176);
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    border-color: black;
    border-style: groove;
}


//TAG
h1{
    font-size: 40px;
    color: black;
    font-family: fantasy;
    font-weight: bolder;;
}