//ID
#title{
    text-align: center;
    background-color: rgb(185, 24, 3);
}


#ionIconLogin{
    font-size: large;
    color: #9bfc00;
    margin: 5%;
}

#loginButton{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#buttonSection{
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 15%;
}

#inputSection{
    margin-left: 10%;
    margin-right: 10%; 
    margin-top: 5%; 
}


//TAG
h1{
    font-size: 40px;
    color: black;
}

h4{
    font-style: italic;
}