<ion-header>
  <ion-toolbar>
    <ion-title id="title">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <h1>LogIn Page</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm">
    <section id="inputSection">

      <ion-item>
        <ion-label position="floating">
          <h4>Nome:</h4>
        </ion-label>
        <ion-input type="text" name="name" [(ngModel)]="formData.name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <h4>Cognome:</h4>
        </ion-label>
        <ion-input type="text" name="surname" [(ngModel)]="formData.surname" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <h4>Iban:</h4>
        </ion-label>
        <ion-input type="text" name="iban" [(ngModel)]="formData.iban" required></ion-input>
      </ion-item>
    </section>

    <section id="buttonSection">
      <ion-button type="submit" color="danger" expand="full" id="loginButton" (click)="NavigateToReview()"
        [disabled]="CheckDataPresence()">
        <ion-icon name="return-right" id="ionIconLogin"></ion-icon>
        Enter
        <ion-icon name="return-left" id="ionIconLogin"></ion-icon>
      </ion-button>
    </section>
  </form>

</ion-content>