
<ion-header>
  <ion-toolbar>
    <ion-title id="title">
       <h1>BashApp</h1>   
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <section>
    <header>
      <ion-icon name = "happy" id="ionIcon"></ion-icon>
      Magic World
      <ion-icon name = "happy" id="ionIcon"></ion-icon>
    </header>
    <ion-button color = "success" id = "block2" [routerLink] = "['/login']">
      Log In
    </ion-button>
  </section>
    
  <section>
    <header>
      <ion-icon name = "flash" id="ionIcon"></ion-icon>
      Alert Button
      <ion-icon name = "flash" id="ionIcon"></ion-icon>
    </header>
    <ion-button color = "danger" expand = "block" id="block2" (click)="presentAlert()">
      Try Me
    </ion-button>
  </section>
  
</ion-content>