//ID
 #title{
    text-align: center;
    background-color: rgb(61, 61, 224);
    color: #FFF;
}

#ionIcon{
    color: rgba(226, 212, 7, 0.986);
}

#block2{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

//TAG
h1{
    font-size: 50px;
}

section{
    text-align: center;
    align-content: center;
    margin-top: 15%;
}

header{
    font-size: 25px;
}
